@import '~bootstrap/scss/bootstrap';

@import './partials/dishes';
@import './partials/sidenav';
@import './partials/dashboard';
@import './partials/register';
@import './partials/_orders';


@import './partials/variables';

main {
    position: relative;
}

.button-primary {

    margin-top: 10px;
    padding: 12px 24px;

    text-transform: uppercase;
    font-size: bold;
    font-weight: 16px;

    background-color: rgba(254, 100, 66, 1);
    color: white;

    &:hover {
        background-color: rgb(251, 180, 139);
        color: white;
        border: 1px solid rgb(251, 180, 139);
    }
}