@use '../partials/variables' as *;

body {
    background-color: rgba(243, 242, 247, 1);
}


.shadow {
    box-shadow: 0 1px 1px rgba(61, 61, 61, 0.659);
}


.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 176, 116, 0.15);
}

.button-add {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 176, 116, 0.15);
}

.delete {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: rgba(176, 0, 0, 0.15);
}

.btn-orange {
    background-color: $secondaryColor;
    color: white;

    &:hover {
        color: black;
    }
}

.fa-eye {
    font-size: 20px;
    color: $secondaryColor;
}

.fa-pen-to-square {
    font-size: 30px;
    color: rgba(0, 176, 116, 1);
}

.fa-trash {
    font-size: 30px;
    color: red;
}

.image {
    width: 65px;
    height: 65px;
    background-color: red;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dish-cont {
    flex-wrap: nowrap;
}

@media screen and (max-width: 1000px) {

    .dish-cont {
        flex-wrap: wrap;
    }
    .dishes {
        width: 100%;
        order: 2;
    }

    .add-dish {
        width: 40%;
        order: 1;
        align-self: flex-end;
    }

    h4 {
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {



    .ingedients-dish-row {
        display: none;
    }

    .add-dish {
        width: 40%;
    }

}

@media screen and (max-width: 620px) {


    .add-dish {
        width: 45%;
    }

}

@media screen and (max-width: 575px) {


    .add-dish {
        width: 45%;
    }

    h4 {
        font-size: 16px;
    }

}

@media screen and (max-width: 470px) {


    .add-dish {
        width: 60%;
    }

    .delete {
        background-color: transparent;
    }

    .price-dish-row {
        display: none;
    }

}

@media screen and (max-width: 400px) {
    .button {
        width: 20px;
        height: 20px;
    }
    
    .delete {
        background-color: transparent;
    }

    .fa-pen-to-square {
        font-size: 10px;
    }
    
    .fa-trash {
        font-size: 10px;
    }

    .add-dish {
        width: 70%;
    }

    h4 {
        font-size: 14px;
    }


}