@use '../partials/variables' as *;

/* Stile del modale */
.order_modal {

    display: none;

    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px; 
    height: 500px; 
    background-color: white;
    box-shadow: 1px 4px 4px 0px rgba(246, 90, 0, 0.43);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenitore del modale */
.summary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Immagini all'interno del modale */
.summary-content img {
    width: 90px;
}

/* Pulsante di chiusura */
.close-order {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
}

.close-order:hover,
.close-order:focus {
    color: $secondaryColor;
    text-decoration: none;
    cursor: pointer;
}
