@use '../partials/variables' as *;

#orders-table {
    color: $textColor;
}


.fa-envelope,
.fa-phone {
    color: $textColor;
}

.mail_phone,
.mail-show,
.phone-show {
    display: none;
}

.order-date {
    background-color: green;
    color: white;
}

.order-date-small {
    display: none;

    background-color: green;
    color: white;
}

.order-price {
    font-size: 18px;
}
/* Stile del modale riepilogo ordini */
.order_modal {

    display: none;

    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.201);
    

    display: flex;
    justify-content: center;
    align-items: center;

    
}

/* Contenitore del modale */

.summary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 600px;
    padding: 20px;

    background-color: white;

    position: relative;
    overflow-y: auto;
}

/* Pulsante di chiusura modale */
.close-order {
    color: $secondaryColor;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
}

.close-order:hover,
.close-order:focus {
    color: $textColor;
    text-decoration: none;
    cursor: pointer;
}

.single-price {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: bold;
    color: black;
}

.ingredients-dish {
    color: $textColor;
    font-size: 12px;
}

.name-dish {
    font-weight: bold;
    font-size: 16px;
}

.img-dish {
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-position: center;
    box-shadow: 0px 2px 2px 0px rgba(9, 9, 9, 0.323);
}

.order-details {
    flex-grow: 1;
}

// Media querries

@media screen and (max-width: 1399px) {

    .orders-data {
        font-size: 14px;
    }

    .order-date {
        font-size: 14px;
    }

    .order-price {
        font-size: 14px;
    }

}

@media screen and (max-width: 1199px) {

    .mail_phone {
        display: flex;
        justify-content: center;
        gap: 15px;

    }

    .fa-envelope {
        color: $secondaryColor;
        position: relative;
        font-size: 20px;


        &:hover {

            .mail-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: -20px;
                left: 0px;

                width: 250px;
                height: 20px;

                font-size: 12px;

                background-color: $secondaryColor;
                color: white;
                
            }
        }
    }

    .fa-phone {
        color: $secondaryColor;
        position: relative;
        font-size: 20px;

        &:hover {

            .phone-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: -25px;
                left: 0px;

                width: 150px;
                height: 25px;

                font-size: 12px;

                background-color: $secondaryColor ;
                color: white;

            }

        }
    }

    .hidden {
        display: none;
    }


}

@media screen and (max-width: 999px) {

    .order-int {

        th {
            font-size: 12px;
        }
    }

    .orders-data {
        font-size: 12px;
    }

    .order-date {
        font-size: 12px;
    }

    .order-price {
        font-size: 12px;
    }

    .order-date {
        display: none;
    }

    .order-date-small {
        display: inline;
    }

    .summary-content {
        width: 550px;
        max-height: 550px;
    }

}



@media screen and (max-width: 767px) {

    .fa-envelope,
    .fa-phone {
        font-size: 16px;
    }

    .button-summary {

        .fa-eye {
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 576px) {

    .fa-envelope,
    .fa-phone {
        font-size: 14px;
    }

    .button-summary {

        .fa-eye {
            font-size: 14px;
        }
    }

    .mail_phone {

        gap: 5px;

    }

    .summary-content {
        width: 80%;
        max-height: 50%;
    }

}

@media screen and (max-width: 550px) {

    .hidden-user {
        display: none;
    }

    .single-price {
        position: relative;
        font-size: 12px;
    }

    .name-dish {
        font-size: 12px;
    }

    .ingredients-dish {
        font-size: 10px;
    }


}





