@use '../partials/variables' as *;

/* Stile del modale riepilogo ordini */
.order_modal {

    display: none;

    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px; 
    height: 500px; 
    background-color: white;
    box-shadow: 1px 4px 4px 0px rgba(246, 90, 0, 0.43);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenitore del modale */

.summary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Immagini all'interno del modale */
.summary-content img {
    width: 90px;
}

/* Pulsante di chiusura modale */
.close-order {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
}

.close-order:hover,
.close-order:focus {
    color: $secondaryColor;
    text-decoration: none;
    cursor: pointer;
}


.fa-envelope,
.fa-phone {
    color: $textColor;
}

.mail_phone,
.mail-show,
.phone-show {
    display: none;
}

.order-date {
    background-color: green;
    color: white;
}

.order-date-small {
    display: none;

    background-color: green;
    color: white;
}

.order-price {
    font-size: 18px;
}

@media screen and (max-width: 1399px) {

    .orders-data {
        font-size: 14px;
    }

    .order-date {
        font-size: 14px;
    }

    .order-price {
        font-size: 14px;
    }

}

@media screen and (max-width: 1199px) {

    .mail_phone {
        display: flex;
        justify-content: center;
        gap: 15px;

    }

    .fa-envelope {
        color: $secondaryColor;
        position: relative;
        font-size: 20px;


        &:hover {

            .mail-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: -20px;
                left: 0px;

                width: 250px;
                height: 20px;

                font-size: 12px;

                background-color: $secondaryColor;
                color: white;
                
            }
        }
    }

    .fa-phone {
        color: $secondaryColor;
        position: relative;
        font-size: 20px;

        &:hover {

            .phone-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: -25px;
                left: 0px;

                width: 150px;
                height: 25px;

                font-size: 12px;

                background-color: $secondaryColor ;
                color: white;

            }

        }
    }

    .hidden {
        display: none;
    }


}

@media screen and (max-width: 999px) {

    .order-int {

        th {
            font-size: 12px;
        }
    }

    .orders-data {
        font-size: 12px;
    }

    .order-date {
        font-size: 12px;
    }

    .order-price {
        font-size: 12px;
    }

    .order-date {
        display: none;
    }

    .order-date-small {
        display: inline;
    }

}



@media screen and (max-width: 767px) {

    .fa-envelope,
    .fa-phone {
        font-size: 16px;
    }

    .button-summary {

        .fa-eye {
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 576px) {

    .fa-envelope,
    .fa-phone {
        font-size: 14px;
    }

    .button-summary {

        .fa-eye {
            font-size: 14px;
        }
    }

}

@media screen and (max-width: 550px) {

    .hidden-user {
        display: none;
    }

}





