@use '../partials/variables' as *;

.reg-form {
    border-radius: 10px;

    box-shadow: 0px 3px 6px rgba(12, 12, 11, 0.5);
}

.drop-menu {
    background-color: rgba(254, 100, 66, 1);
}

.no-caret::after {
    display: none;
}

.drop-menu:focus {
    outline: none !important;

    background-color: rgb(251, 180, 139) !important;
}

.my-checkboxes {
    font-size: 12px;
}

.no-caret::after {
    display: none;
}

.accedi {
    background-color: rgba(254, 100, 66, 1);
}

.right-part {

    position: relative;

    .img-quote {
        position: sticky;

        top: 100px;

        img {

            border-radius: 10px;
            box-shadow: 0px 3px 6px rgba(12, 12, 11, 0.5);

        }

        h3 {
            color: $textColor;
        }

    }

}